**/node_modules

**/package-lock.json
**/Ejercicio_SQL/
**/Ejercicios_Clase/
**/Entregable_/src/
**/Entregable_4/
**/Entregable_4_1/
**/Entregable_5/
**/Entregable_6/
**/Entregable_7/
**/Entregable_8-Mongo/
**/Entregable_9/
**/trabajoProfe/
**/JWT/
**/Nueva-carpeta/
**/Tp_final/
_ecommerce.sqlite
**/ProyectoFinalSwagger/