<div class="container-fluid border-bottom">
  <h1 class="shadow-none p-3 mb-5 bg-light rounded">
    Datos personales
  </h1>

  <ul>
    <li>
      {{nombre}}
    </li>
    <li>
      {{apellido}}
    </li>
  </ul>
</div>