<footer class="py-3 my-4">
  
  <div class="">
    <img
      src="https://static.wixstatic.com/media/54b904_b602133d7264469eaed5083d62913cee~mv2.gif"
      alt=""
      srcset=""
      class="imgGif"
    />
    <p class="text-center text-muted">
      © 2022 Company, Inc
    </p>
  </div>
</footer>